@font-face { font-family: "FC-Bold"; src: url("../../fonts/sf_display_pro-bold.OTF"); }
@font-face { font-family: "FC-Medium"; src: url("../../fonts/sf_display_pro-medium.OTF"); }

.not-found
{
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	text-align: center;
}

.not-found *
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.not-found .title
{
	margin-bottom: 16px;
	
	font-family: "FC-Bold", Arial, Helvetica, sans-serif;
	font-size: 36px;
}

.not-found .subtitle
{
	margin-bottom: 8px;

	font-family: "FC-Medium", Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.not-found.light
{
	background-color: rgb(247, 247, 247);
	color: rgb(30, 31, 32);
}

.not-found.dark
{ 
	background-color: rgb(30, 31, 32);
	color: rgb(255, 255, 255);
}