.dashboard-layout .theme-tab
{
	width: 100%;
	max-width: 800px;

	display: flex;
	flex-direction: column;
}

.dashboard-layout .theme-tab .page-title
{
	margin: 0 0 8px 0;

	font-family: "FC-Bold", sans-serif;
	font-size: 24px;
}

.dashboard-layout .theme-tab .page-subtitle
{
	margin: 0 0 32px 0;

	color: var(--gray-C100);

	font-family: "FC-Regular", sans-serif;
	font-size: 14px;
}

.dashboard-layout.light .theme-tab .page-title
{
	color: var(--dark-C100);
}

.dashboard-layout.dark .theme-tab .page-title
{
	color: var(--white-C100);
}

.dashboard-layout .theme-tab .theme-selection-grid
{
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
}

@media (max-width: 429px)
{
	.dashboard-layout .theme-tab
	{
		padding: 20px;
		padding-bottom: 150px;

		overflow-y: auto;
	}

	.dashboard-layout .theme-tab .theme-selection-grid
	{
		flex-direction: column;
		gap: 24px;
	}
}