.dashboard-layout .main .desktop-header
{
	width: calc(100% - (var(--nav-width) + var(--page-gap)) - var(--page-gap) - (var(--right-sidebar-width-closed)));
	height: var(--header-height);

	position: absolute;
	top: 0;
	left: calc(var(--nav-width) + var(--page-gap));
	display: flex;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
	z-index: 10;

	transition: width 0.3s ease-in-out;
}

.dashboard-layout .main .header .user-info
{
	width: fit-content;

	display: inherit;
	gap: 10px;

	transition: opacity 0.2s ease-in-out;
}

.dashboard-layout .main .header .user-info:hover
{
	opacity: 0.7;
	transition: opacity 0.2s ease-in-out;
}

.dashboard-layout .main:has(.sidebar .content:hover) .desktop-header
{
	width: calc(100% - (var(--nav-width) + var(--page-gap)) - (var(--right-sidebar-width) + var(--page-gap)));
}

.dashboard-layout .main .desktop-header .name
{
	font-family: "FC-Medium", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;

	cursor: pointer;
}

.dashboard-layout.light .main .desktop-header .name
{
	color: var(--dark-C100);
}

.dashboard-layout.dark .main .desktop-header .name
{
	color: var(--white-C100);
}

.dashboard-layout .main .desktop-header .avatar
{
	width: 48px;
	height: 48px;

	object-fit: cover;

	border-radius: 15.16px;

	cursor: pointer;
}

@media (max-width: 429px)
{
	.dashboard-layout .main .desktop-header
	{
		display: none;
	}
}