.auth-layout .left-side .buttons-container .send-password-button:hover
{
	transition: background-color 0.2s ease-in-out;
}

.auth-layout .left-side .buttons-container .send-password-button:hover
{
	background-color: var(--primary-C80) !important;
}

.auth-layout.light .left-side .buttons-container .send-password-button,
.auth-layout.dark .left-side .buttons-container .send-password-button
{
	background-color: rgb(62, 107, 236);
	color: rgb(255, 255, 255);
}