.auth-layout.register .left-side .inputs-container
{
	margin-top: 20px;
}

.auth-layout.register .left-side .inputs-container
{
	gap: 10px;

	margin-top: 20px;
}

.auth-layout.register .left-side .inputs-container.label
{
	margin-bottom: 0px;
}

.auth-layout.register .left-side .buttons-container
{
	gap: 10px;

	margin-top: 20px;
}

.auth-layout.light .left-side .buttons-container .create-button,
.auth-layout.dark .left-side .buttons-container .create-button
{
	background-color: var(--secondary-C100);
	color: var(--dark-C100);
}

.auth-layout .left-side .buttons-container .create-button:hover
{
	background-color: var(--secondary-C80) !important;

	transition: background-color 0.2s ease-in-out;
}