.auth-layout .right-side
{
	width: 50%;
	height: 100%;

	padding: 180px 120px 0 128px;

	border-radius: 0 32px 32px 0;
}

.auth-layout.light .right-side
{
	background-color: var(--light_gray-C100);
}

.auth-layout.dark .right-side
{
	background-color: var(--dark_mode-background);
}

.auth-layout .right-side .user-icon
{
	width: 120px;
	height: 120px;
}

.auth-layout .right-side .title
{
	margin: 40px 0;

	font-family: "FC-Bold", Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 36px;
}

.auth-layout.light .right-side .title
{
	color: var(--dark-C100);
}

.auth-layout.dark .right-side .title
{
	color: var(--white-C100);
}

.auth-layout .right-side .subtitle
{
	font-family: "FC-Medium", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
}

.auth-layout.light .right-side .subtitle
{
	color: var(--gray-C100);
}

.auth-layout.dark .right-side .subtitle
{
	color: var(--dark_mode-text);
}

@media (max-width: 429px)
{
	.auth-layout .right-side
	{
		display: none;
	}
}