.dashboard-layout .mobile-aside
{
	display: none;
}

@media (max-width: 429px)
{
	.dashboard-layout .mobile-aside
	{
		width: 100%;
		min-height: 88px;

		display: flex;

		position: fixed;
		bottom: 0;
		left: 0;

		border-radius: 32px 32px 0 0;

		z-index: 10;

		transition: transform 0.3s ease-in-out;
	}

	.dashboard-layout.light .mobile-aside
	{
		background-color: var(--white-C100);
	}

	.dashboard-layout.dark .mobile-aside
	{
		background-color: var(--dark_mode-background);
	}

	.dashboard-layout .main:has(.common-sidebar .content:hover) .mobile-aside
	{
		transform: translateY(100px);
		transition: transform 0.3s ease-in-out;
	}
}