.dashboard-layout
{
	width: 100%;
	height: 100vh;
}

.dashboard-layout.light
{
	background-color: var(--light_gray-C100);
}

.dashboard-layout.dark
{
	background-color: var(--dark-C100);
}

.dashboard-layout .main
{
	width: 100%;
	height: 100%;

	position: relative;

	padding-left: calc(var(--nav-width) + var(--page-gap));
	padding-top: var(--header-height);
	padding-right: calc(var(--page-gap) + var(--right-sidebar-width-closed));

	overflow: hidden;
	overflow-anchor: auto;

	transition: padding-right 0.3s ease-in-out;
}

.dashboard-layout .main:has(.sidebar .content:hover)
{
    padding-right: calc(var(--right-sidebar-width) + var(--page-gap));
}

@media (max-width: 429px)
{
	.dashboard-layout .main
	{
		width: 100%;
		height: 100%;

		padding: 0;

		overflow-y: hidden;
	}

	.dashboard-layout .main::-webkit-scrollbar 
	{
		display: none;
	}

	.dashboard-layout .main:has(.sidebar .content:hover)
	{
		padding-right: 0;
	}
}